body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.top-header{
    color: rgb(245, 104, 10);
    font-size: 40px;
}
.ex-h3{
    color: rgb(245, 104, 10);
    font-size: 20px;
}
.ex-h1{
    font-size: xx-large;

}
.flex-container{
    display: flex;
    margin-bottom: 10px;
}

.top-banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}

.half-width{
    width: 50%;
    padding-left: 5%;
    margin-right: 20px;
}

.half-width img{
    width: 70%;
    margin-top: 15px;
}

.hire-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(223, 158, 84), rgb(170, 81, 9));
    padding: 10px;
    font-size: 25px;
    border-radius: 5px;
    font-weight: ;
    color: white;
    font-weight: 700px;


}

.download_button{
    text-decoration: none;
    background-image: linear-gradient(rgb(17, 6, 179), rgb(54, 194, 230));
    padding: 10px;
    font-size: 25px;
    border-radius: 5px;
    font-weight: ;
    color: white;
    font-weight: 700px;
}
.middle-banner{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
p{
    text-align: justify;
}
.ex-box{
    box-shadow: 5px 5px 15px grey;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px;
}
.ex-h1-2{
    padding-left: 90px;
}
.ex-area{
  margin-bottom: 35px;
  background-image: url(img/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
#web{
    border-left: 9px solid;
    border-image: linear-gradient(#eea159d8, #8a4b03) 30;
    border-image-slice: 1;
}

#intern{
    border-left: 9px solid;
    border-image: linear-gradient(#f06969, #be2929) 30;
    border-image-slice: 1;
}